Repository SiyuQian/Stress-recognition-project, pull requests merged in 2021-04, with the labels that each got.

#21 Store the requests / response into the Mysql database
  server/docker-compose.yml
  server/web/demoapp/models.py
  server/web/demoapp/views.py
Labels: enhancement, feature request, server

#25 Process request and convert to HRV data
  server/web/demoapp/views.py
Labels: feature request, server

#26 Store the response into the database
  server/web/demoapp/migrations/0001_initial.py
  server/web/demoapp/migrations/0002_auto_20210330_0521.py
  server/web/demoapp/migrations/0003_response.py
  server/web/demoapp/models.py
  server/web/demoapp/views.py
Labels: feature request, server

#30 Correct sampling rate and programme procedure
  demo_request.txt
  server/web/demoapp/views.py
  server/web/web/settings.py
Labels: bug, server

#31 Implement the UUID endpoint
  server/web/demoapp/migrations/0004_uuid.py
  server/web/demoapp/models.py
  server/web/demoapp/urls.py
  server/web/demoapp/views.py
Labels: feature request, server

#23 Send the data to the server-end
  client/.idea/.name
  client/.idea/compiler.xml
  client/.idea/misc.xml
  client/.idea/runConfigurations.xml
  client/.idea/vcs.xml
  client/app/build.gradle
  client/app/src/main/AndroidManifest.xml
  client/app/src/main/java/com/szhu842/hr_ppg_monitor/DataCollector.java
  client/app/src/main/java/com/szhu842/hr_ppg_monitor/DataService.java
  client/app/src/main/java/com/szhu842/hr_ppg_monitor/MainActivity.java
  client/app/src/main/res/xml/network_security_config.xml
  xml/network_security_config.xml
Labels: client, feature request

#33 Detect stress by Heart Rate
  server/web/demoapp/migrations/0005_auto_20210422_0940.py
  server/web/demoapp/models.py
  server/web/demoapp/tasks.py
  server/web/demoapp/views.py
Labels: enhancement, feature request, server

#37 Refactor Server and Client Code
  client/.gitignore
  client/.idea/.name
  client/.idea/codeStyles/Project.xml
  client/.idea/compiler.xml
  client/.idea/gradle.xml
  client/.idea/jarRepositories.xml
  client/.idea/misc.xml
  client/.idea/runConfigurations.xml
  client/.idea/vcs.xml
  client/app/libs/polar-ble-sdk.aar
  client/app/libs/polar-protobuf-release.aar
  client/app/src/main/java/com/szhu842/hr_ppg_monitor/DataService.java
  client/app/src/main/java/com/szhu842/hr_ppg_monitor/ReuqestSender.java
  client/app/src/main/res/xml/network_security_config.xml
  server/web/demoapp/urls.py
  server/web/demoapp/utils.py
  server/web/demoapp/views.py
  server/web/web/settings.py
Labels: client, enhancement, server

#40 Fix the IndexError bug
  client/.gitignore
  client/app/libs/polar-ble-sdk.aar
  client/app/libs/polar-protobuf-release.aar
  client/app/src/main/java/com/szhu842/hr_ppg_monitor/DataCollector.java
  client/app/src/main/java/com/szhu842/hr_ppg_monitor/DataService.java
  server/web/demoapp/utils.py
  server/web/demoapp/views.py
Labels: bug, client, enhancement, server

#42 Implement ML Algorithm
  server/web/demoapp/urls.py
  server/web/demoapp/utils.py
  server/web/demoapp/views.py
Labels: enhancement, feature request, server
